---
import { app } from '../firebase/server';
import { getAuth } from 'firebase-admin/auth';

const auth = getAuth(app);

const sessionCookie = Astro.cookies.get('session')?.value;
if (sessionCookie) {
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  console.log(decodedCookie);
  const user = await auth.getUser(decodedCookie.uid);
  if (user) {
    return Astro.redirect('/feed');
  }
}

import mockup from '../assets/images/mockup_reci.png';
import mockup_mobil from '../assets/images/mockup_reci_movil.png';
import wave from '../assets/images/wave.svg';
import { CalendarioIcon } from '../icons/CalendarioIcon';

import { UsersIcon } from '@/icons/UsersIcon';
import { PhotoIcon } from '@/icons/PhotoIcon';
import { BASE_URL_API } from '@/config';

import DetailsService from '../components/DetailsService.astro';
---

<!-- JS del servidor --><!-- HTML --><!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Red social que unifica y promueve la cultura del reciclaje."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;600;900&family=Righteous&display=swap"
      rel="stylesheet"
    />

    <title>Recicanje</title>
  </head>
  <body class="min-h-screen w-full flex flex-col mx-auto">
    <header
      class="flex text-emerald-100 justify-center w-full mx-auto flex-col pt-10
       relative "
    >
      <section class="w-[90%] mx-auto">
        <div class="flex flex-col justify-center items-center gap-3 animate-fade-down">
          <h1
            id="texto-maquina"
            class="text-3xl md:text-5xl lg:text-6xl font-bold transition-all"
          >
            RECICANJE
          </h1>
          <p class="font-poppins text-center text-lg leading-7">
            Únete a la <strong>comunidad</strong> que fomenta <strong
              >el reciclaje</strong
            > y busca
            <strong>un cambio cultural de verdad.</strong>
          </p>
          <a
            class="py-3 font-bold px-8 rounded-md flex items-center justify-center bg-emerald-700 shadow-2xl hover:bg-white hover:text-emerald-700 transition-all"
            href={`${BASE_URL_API}/login`}>Comenzar</a
          >
        </div>

        <!-- Mockups -->
        <figure
          class="relative flex justify-center items-center max-w-[768px] mt-10 mx-auto hover:scale-105 transition"
        >
          <img
            class="animate-fade-up animate-duration-500"
            loading="eager"
            src={mockup.src}
            alt="Mockup de la red social intuitiva recicanje"
          />
          <img
            loading="eager"
            class="absolute w-[20%] animate-fade-up animate-duration-1000 left-0"
            src={mockup_mobil.src}
            alt="Mockup de la red social intuitiva recicanje en dispositivos moviles"
          />
        </figure>
      </section>

      <!-- --- wave --- -->
      <div
        class="bg-gradient-to-b from-emerald-900 via-emerald-950 to-emerald-700 h-[50vh] md:h-[60vh] w-full
        absolute top-0 -z-10 flex items-end"
      >
        <img loading="eager" class="z-40 w-full" src={wave.src} alt="Wave" />
      </div>
    </header>

    <main class="bg-white w-full flex flex-col mt-10">
      <!-- Sección de servicios -->
      <section
        class="flex max-w-5xl flex-col lg:flex-row gap-3 lg:gap-6 w-[90%] mx-auto"
      >
        <!-- <CardServices
          title="Crear una cuenta es muy fácil"
          text="Puedes crear una cuenta como en cualquier red social, inicia con google o tu
        cuenta de facebook"
        /> -->

        <div
          class="bg-slate-100 flex flex-col justify-start p-5 rounded-md shadow-md flex-1 animate-fade-down animate-delay-200 hover:shadow-xl transition"
        >
          <CalendarioIcon
            className="stroke-emerald-700 w-14 h-14 "
            client:load
          />
          <div class="flex flex-col gap-1 mt-5">
            <h2 class="font-semibold text-emerald-700 text-2xl">
              Crear una cuenta es muy fácil
            </h2>
            <p>
              Puedes crear una cuenta como en cualquier red social, inicia con
              google o tu cuenta de facebook
            </p>
          </div>
        </div>

        <!-- Conoce gente -->
        <div class="lg:translate-y-5 flex flex-col justify-start flex-1">
          <div
            class="p-5 rounded-md shadow-md bg-slate-100 animate-fade-down animate-delay-300 hover:shadow-xl transition"
          >
            <UsersIcon className="stroke-emerald-700 w-14 h-14 " client:load />

            <div class="flex flex-col gap-1 mt-5">
              <h2 class="font-semibold text-emerald-700 text-2xl">
                Conectate con gente de todo el país
              </h2>
              <p>
                Encontraras personas con la misma voluntad que tú, dispuestos a
                mejorar y generar un cambio cultural
              </p>
            </div>
          </div>
        </div>

        <!-- Cuenta empresa -->
        <div
          class="bg-slate-100 flex flex-col justify-start p-5 rounded-md shadow-md flex-1 animate-fade-down animate-delay-500 hover:shadow-xl transition"
        >
          <PhotoIcon className="stroke-emerald-700 w-14 h-14 " client:load />
          <div class="flex flex-col gap-1 mt-5">
            <h2 class="font-semibold text-emerald-700 text-2xl">
              Cuenta de empresa
            </h2>
            <p>
              Encuentra empresas que tienen ofrecen los servicios que necesitas.
            </p>
          </div>
        </div>
      </section>

      <!-- Sección de los detalles de cada servicio -->
      <DetailsService  />

      <!-- Sección de contacto -->
      <h2
        class="text-center mt-40 mb-5 font-semibold text-3xl md:text-5xl text-emerald-700"
      >
        Dónde nació todo!
      </h2>
      <section class="text-emerald-950 body-font relative">
        <div>
          <div class="absolute inset-0">
            <iframe
              title="map"
              width="100%"
              height="100%"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              scrolling="no"
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6685.3474524456815!2d-68.48151553593763!3d-33.09136739413229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e42e18d0efccb%3A0x802cefb5e43893f2!2sCentro%20Universitario%20del%20Este!5e0!3m2!1ses!2sar!4v1701298334175!5m2!1ses!2sar"
              style="filter: contrast(1.2) opacity(0.7);"></iframe>
          </div>
          <div class="container px-5 py-24 mx-auto flex">
            <div
              class="lg:w-1/3 md:w-1/2 shadow-md backdrop-blur-sm md:backdrop-blur-xl rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10"
            >
              <h2 class="text-black font-bold text-lg mb-1 title-font">
                Contactate con nosotros
              </h2>
              <p class="leading-relaxed mb-5">
                Envianos un correo por si tienes alguna sugerencia o
                inconformidad
              </p>
              <div class="relative mb-4">
                <label for="email" class="leading-7 text-sm text-emerald-900"
                  >Email</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="w-full rounded border border-gray-700 focus:border-green-500 focus:ring-2 focus:ring-green-900 text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
              <div class="relative mb-4">
                <label for="message" class="leading-7 text-sm text-emerald-900"
                  >Message</label
                >
                <textarea
                  id="message"
                  name="message"
                  class="w-full rounded border border-gray-700 focus:border-green-500 focus:ring-2 focus:ring-green-900 h-32 text-base outline-none py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                ></textarea>
              </div>
              <button
                id="btn-enviar"
                class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg"
                >Enviar</button
              >
              <p class="text-xs text-emerald-950 text-opacity-90 mt-3">
                Ayudanos a generar un impacto positivo en la sociedad.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script>
      /* Efecto máquina de escribir */
      const containerTextToWrite = document.getElementById('texto-maquina');
      const wordsToWrite = ['Recicanje', 'Reciclar', 'Reconectar'];

      function wait(ms: number) {
        return new Promise((resolve) => setTimeout(resolve, ms));
      }

      async function typeWrite(
        containerText: any,
        wordsToWrite: Array<string>,
      ) {
        let indexCurrentWord = 0;
        let currentWord = wordsToWrite[indexCurrentWord];
        let lastIndexCurrentWord = currentWord.length;

        let qtWords = wordsToWrite.length;
        let isDeleting = true;

        while (true) {
          /* Borrar */
          if (isDeleting) {
            lastIndexCurrentWord--;
          } else {
            lastIndexCurrentWord++;
          }
          containerText.innerText = currentWord.slice(0, lastIndexCurrentWord);

          // Deja la primera letra para borrar
          if (lastIndexCurrentWord === 1 && isDeleting) {
            // Cuando sea la ùltima palabra, le da estilos a la primeta
            if (indexCurrentWord === qtWords - 1) {
              containerText.classList.add('text-shadow');
            } else {
              containerText.classList.remove('text-shadow');
            }

            await wait(300); // medio segundo antes de escribir la palabra
            indexCurrentWord =
              indexCurrentWord === qtWords - 1 ? 0 : indexCurrentWord + 1; // pasa a la siguiente palabra
            currentWord = wordsToWrite[indexCurrentWord];
            isDeleting = false;
          } else if (
            lastIndexCurrentWord === currentWord.length &&
            !isDeleting
          ) {
            lastIndexCurrentWord = currentWord.length;
            isDeleting = true;
            await wait(
              containerText.classList.contains('text-shadow') ? 3000 : 500,
            ); // Espera 2 segundos antes de borrar la palabra
          }

          await wait(80); // Velocidad de escritura
        }
      }

      typeWrite(containerTextToWrite, wordsToWrite);
    </script>

    <!-- CSS -->
    <style>
      body {
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
      }
      ::-webkit-scrollbar {
        width: 2px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: green;
        border-radius: 1em;
      }
      input,
      input:focus {
        outline: none;
      }

      button {
        transition: 0.2s;
      }
      button:hover {
        transform: scale(0.96);
      }
      .text-shadow {
        transform: translateY(-0.5em) scale(1.25);
        letter-spacing: 2px;
        filter: brightness(1.25);
      }
    </style>
  </body>
</html>
