---
interface Props {
  title: string;
  classNameLayout: string;
}

const { title, classNameLayout } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

import { app } from '../firebase/server';
import { getAuth } from 'firebase-admin/auth';

/* Componentes */
import { Header } from '../components/react/Header';
import { BurbujaMensajes } from '../components/react/mensajes/BurbujaMensajes';
import { BASE_URL_API, NOMBRE_APP } from '../config';

const auth = getAuth(app);

/* Verificar la sesión actual */
if (!Astro.cookies.has('session')) {
  return Astro.redirect('/login');
}
const sessionCookie = Astro.cookies.get('session').value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const userAuth = await auth.getUser(decodedCookie.uid);

if (!userAuth) {
  return Astro.redirect('/signin');
}

const res = await fetch(`${BASE_URL_API}/api/usuarios/obtenerUsuario`, {
  method: 'POST',
  body: JSON.stringify({ uid: userAuth.uid }),
});
const { infoUsuario: user } = await res.json();
import { Toaster } from 'sonner';
---

<!-- JS del servidor --><!-- HTML --><!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;600;900&family=Righteous&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body
    class="bg-gradient-to-b
  min-h-screen w-full bg-slate-100 text-black flex flex-col relative"
  >
    <Header user={user} client:only />

    <main
      class={`md:p-5   flex-grow text-black w-full sm:w-[90%] mx-auto max-w-[1300px] pb-[100px]  ${classNameLayout}`}
    >
      <slot />
      <!-- Aqui iria el componente pequeño de los comentarios. -->
      <BurbujaMensajes user={user} client:only />
    </main>

    <Toaster closeButton position="top-right" client:only />
    <script></script>

    <!-- CSS -->
    <style is:global>
      body {
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
      }
      ::-webkit-scrollbar {
        width: 2px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: green;
        border-radius: 1em;
      }

      input,
      input:focus {
        outline: none;
      }
    </style>
  </body>
</html>
